.navigation {
    height: var(--nav-height);
    width: calc(100% -2*var(--scroll-padding));
    padding: 0 var(--scroll-padding);
    max-width: var(--scroll-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    user-select: none;
}

.navigation * {
    z-index: 40;
}

.navigation .logo-wraper {
    position: relative;
}

.navigation .logo-wraper::before,
.navigation .logo-wraper::after {
    content: '';
    position: absolute;
    top: var(--offset-top);
    height: var(--nav-height);
    background-color: black;
    z-index: 30;
    left: var(--offset-left);
    width: 100vw;
}

.navigation .logo-wraper::after {
    background-color: white;
    z-index: 20;
}

.navigation .align-left,
.navigation .align-right {
    display: inline-grid;
    grid-auto-flow: column;
    gap: 30px;
    justify-content: start;
    align-items: center;
}

.navigation h1 {
    font-family: Lobster;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 400;
}

.navigation li {
    font-family: 'Zilla Slab';
    font-weight: 300;
    font-size: 20px;
    list-style: none;
    padding: 2px;
    cursor: pointer;
}

.navigation i {
    font-size: 25px;
    pointer-events: none;
}

.align-left .grdt-bg.stamp {
    font-weight: 500;
}