@media screen and (max-width: 1400px) {
    .navigation {
        color: black;
    }

    .navigation::after {
        content: none;
    }

    .navigation .logo-wraper::before {
        left: calc(var(--offset-left) - var(--nav-height)*0.5);
        width: calc(var(--offset-left)*-1 + 100% + var(--nav-height));
        transform: skew(45deg);
    }

    .align-left .grdt-bg::after {
        content: none;
    }
}