@media screen and (max-width: 1400px) {
    .navigation {
        color: var(--navbar-color);
    }

    .navigation::after {
        content: none;
    }

    .navigation .logo-wraper::before {
        left: calc(var(--offset-left) - var(--nav-height)*0.5);
        width: calc(var(--offset-left)*-1 + 100% + var(--nav-height));
        transform: skew(45deg);
    }

    .align-left li.active::after {
        content: none;
    }

    .align-right li.active {
        color: black;
        background-color: white;
    }

    .align-right li.active::after {
        mix-blend-mode: screen;
    }
}