#burger {
    display: none;
}

@media screen and (max-width: 600px) {
    #burger {
        display: initial;
    }

    #mobile-menu {
        position: absolute;
        top: var(--nav-height);
        right: 0;
        grid-auto-flow: row;
        text-align: right;
        padding: var(--scroll-padding);
        justify-items: end;
        align-content: space-around;
        background-color: white;
        transform: translateY(-100%);
        z-index: 10;
    }

    #mobile-menu.open {
        transform: translateY(20px);
    }
}