@media screen and (max-width: 800px) {
    #svnt .navigation {
        color: black;
    }

    #svnt .navigation::after {
        content: none;
    }

    #svnt .navigation .logo-wraper::before {
        left: calc(var(--offset-left) - var(--nav-height)*0.5);
        width: calc(var(--offset-left)*-1 + 100% + var(--nav-height));
        transform: skew(45deg);
    }

    #svnt .align-left .grdt-bg::after {
        content: none;
    }
}