.pagination,
.feed-wraper {
    width: 100%;
    user-select: none;
}

.pagination,
.paginated-feed-result {
    font-family: 'Zilla Slab';
    font-weight: 300;
}

.pagination {
    font-weight: 500;
}

.paginated-feed-result {
    padding: 20px 0;
}

.feed-item {
    --node-before-size: calc(var(--timeline-node-size)/100*30);
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto 1fr;
}

.timeline-node {
    width: var(--timeline-node-size);
    height: var(--timeline-node-size);
    border-radius: 50%;
    position: relative;
    z-index: 4;
}

.feed-item:not(:last-of-type) .timeline {
    width: 100%;
    height: 100%;
    position: relative;
}

.timeline-node::before,
.feed-item:not(:last-of-type) .timeline .grdt-bg {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.timeline-node::before {
    width: var(--node-before-size);
    height: var(--node-before-size);
    border-radius: 50%;
    z-index: 5;
}

.feed-item:not(:last-of-type) .timeline .grdt-bg {
    height: calc(100% + var(--timeline-node-size));
    width: calc((var(--timeline-node-size) - var(--node-before-size))*0.5);
    z-index: 3;
}

.task-title {
    margin: auto 0;
    font-weight: 500;
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: auto auto 1fr;
    column-gap: 5px;
    align-items: center;
}

.task-title>span:first-child {
    font-size: 18px;
}

.pagination>span,
.task-title>span:nth-child(2) {
    color: gray;
    letter-spacing: 1px;
    font-size: 14px;
}

.pagination div,
.task-title div {
    position: relative;
    height: var(--timeline-node-size);
    border-radius: 5px;
    justify-self: end;
}

.pagination div i,
.task-title div span {
    color: white;
    vertical-align: middle;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.pagination div:not(:hover),
.task-title .review-btn:not(:hover) {
    background-color: black;
}

.pagination div:not(:hover)::after,
.task-title .review-btn:not(:hover)::after {
    content: none;
}

.pagination div,
.task-title div:not(.review-btn) {
    width: var(--timeline-node-size);
}

.pagination div,
.task-title .review-btn {
    cursor: pointer;
}

.task-title .review-btn {
    padding: 0 5px;
}

.pagination div i,
.task-title .review-btn span {
    vertical-align: sub;
}

.task-description {
    padding: 20px 0 40px 0;
}

.pagination {
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr auto 1fr;
    column-gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}

.pagination div i {
    color: white;
}

.pagination .next-page {
    justify-self: start;
}