:root {
    --nav-height: 70px;
    --scroll-width: 1200px;
    --scroll-padding: 20px;
    --overlay-shadow: -5px 5px 15px 2px rgba(168, 168, 168, 0.75);

    --gradient-from: #8E54E9;
    --gradient-to: #4776E6;

    --timeline-node-size: 26px;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    min-height: 100%;
}

body {
    overflow-x: hidden;
}

@media screen and (max-width: 300px) {
    body {
        display: none;
    }
}

#scroll {
    width: calc(100vw - var(--nav-height));
    max-width: var(--scroll-width);
    margin: 0 auto;
    min-height: calc(100vh - var(--nav-height));
    padding: 0 var(--scroll-padding);
    display: flex;
    flex-direction: column;
}