:root {
    --nav-height: 80px;
    --scroll-width: 1200px;
    --scroll-padding: 20px;
    --gradient-from: #F0C808;
    --gradient-to: #FFB4A2;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

#scroll {
    width: calc(100vw - var(--nav-height));
    max-width: var(--scroll-width);
    margin: 0 auto;
    min-height: calc(100vh - var(--nav-height));
    padding: 0 var(--scroll-padding);
}